* {
    box-sizing:border-box;
} 


body {
    margin: 0;
}

header {
    width: 100%;
    height: 15vh;
    background-color: #ec8382;
    margin: 0, auto;
}

.heading-container {
    width: 35%;
    float: left;
    padding-top: 30px;
    padding-left: 20px;
    
}

.menu-container {
    width: 65%;
    height: 15vh;
    float: right;
    padding-top: 40px;    
    font-size: larger;
    
}

.menu-container, ul, li {
    display: inline-block;
    padding-right: 30px;
}

section {
    padding: 2rem auto;
    background: #185d69;

}

.content-container {
    margin: 20px; 
}

.border {
    width: 100%;
    height: 40vh;
    padding: 15px;
    box-sizing: border-box ;
    border: 5px dotted black;
}

h2 {
    line-height: 5px;
}

br {
    clear: both;
}

.content1 {
    float: left;
}

.image-html5 {
    width: 130px;
    float: left;

}

.image-css3 {
    width: 200px;
    float: right;
}
